#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Full-page centered layout */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

/* Content wrapper */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title styles */
.landing-title {
  color: #000;
  font-size: 90px;
  font-weight: 400;
  width: min-content;
  letter-spacing: -4px;
  line-height: .9;
}

/* Paragraph styles */
.landing-paragraph {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
}

/* large screens (over 1024px) */
@media (min-width: 1024px) {
  .home-content {
    font-size: 150px;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 120px;
  }

  .landing-title {
    min-width: 300px;
    text-align: center;
    margin-right: 20px;
  }

  .landing-paragraph {
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 0;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 14px;
    width: 360px;
  }

  .landing-button {
    display: none;
  }
  

  .take-test-button {
    position: absolute;
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: center;
    right: 0;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
  }

  .take-test-text {
    margin-right: 10px;
    text-transform: uppercase;
  }

  .button-icon {
    margin-left: 10px;
    pointer-events: none;
  }

  .button-icon:hover {
    cursor: default;
  }

  .take-test-button object {
    transition: transform 0.3s ease;
  }

  .take-test-button:hover object {
    transform: scale(1.2);
  }

}

  @media (max-width: 1024px) {

    .home-content {
    font-size: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 120px;
  }

  h1.landing-title {
    margin: 20px;
  }


  .landing-title {
    font-size: 70px;
    min-width: 360px;
    text-align: center;
  }

  .landing-paragraph {
    color: #333;
    text-align: center;
    max-width: 400px;
  }

  .landing-button {
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
    position: static;
    transition: transform 0.3s ease;
  }

  .landing-button:hover {
    transform: scale(1.1);
  }

  .landing-button:active {
    border: none;
    outline: none;
  }

  .take-test-button {
    display: none;
  }

   .button-icon {
    margin-left: 10px;
    pointer-events: none;
  }
}

/* Navbar layout */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo styles */
.navbar-logo {
  font-size: 12px;
  font-weight: medium;
  text-transform: uppercase;
  color: #000;
}

/* Button styles */
.navbar-button {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem .8rem;
  font-size: 8px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #333;
}

/* USER TEST */

.user-test-container {
  position: relative;
  width: 100vw;
  height: 70vh;
}

.input-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.input-field {
  background: transparent;
  border: none;
  text-align: center;
  font-size:  42px;
}

.input-field:active {
  border: none;
  outline: none;
}

.input-field:focus {
  border: none;
  outline: none;
}

.box-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  
}

.box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform-origin: center;
  border: 3px dotted rgb(176, 176, 176);
  animation-timing-function: linear;
}

/* Fastest */
.box1 {
  width: 70vmin;
  height: 70vmin;
  animation: rotate 55s infinite;
  opacity: 0.3;
}

/* Medium */
.box2 {
  width: 70vmin;
  height: 70vmin;
  animation: rotate 60s infinite;
  opacity: 0.6;
}

/* Slowest */
.box3 {
  width: 70vmin;
  height: 70vmin;
  animation: rotate 70s infinite;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.proceed-message {
  position: absolute;
  width: 200px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  text-align: center;
  z-index: 10;
}

.back-button {
  position: fixed;
  display: flex;
  background: transparent;
  flex-direction: row;
  align-items: center;
  left: 0;
  bottom: 0;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 2;
  transition: transform 0.3s ease;
  border: none;
}

.back-button:hover {
  transform: scale(1.2);
}
.back-button:active {
  border: none;
  outline: none;
}

.back-button:hover .back-button-icon {
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.back-button-icon {
  transform: scaleX(-1);
  margin-right: 10px;
  transition: transform 0.3s ease;
  transform-origin: center;
  z-index: 2;
}

.proceed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

/* START ANALYSIS */

.test-result-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.small-box-wrapper {
  position: relative;
  width: 40vmin;
  height: 40vmin;
  box-sizing: border-box;
  margin: auto;
}
.small-box-wrapper_left {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  box-sizing: border-box;
}
.small-box-wrapper_right {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  box-sizing: border-box;
}

.small-box-wrapper .box-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box-wrapper .box {
  width: 50vmin;
  height: 50vmin;
  border-width: 1px;
  opacity: 0.7;
}

.camera-icon {
  width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.line-circle {
  position: absolute;
  transform: translateX(6px) translateY(-10px);
  right: 0; 
}
.line-circle_gallery {
  position: absolute;
  left: 0; 
  transform: scaleX(-1) scaleY(-1);
  bottom: 75px;
}

.scan-text {
  position: absolute;
  right: -65%;
  top: -20%;
  font-size: smaller;
  font-weight: 600;
  text-align: left;
}

.access-gallery-text {
  position: absolute;
  text-align: right;
  transform: translateX(-102%) translateY(200%);
  font-size: smaller;
  font-weight: 600;
}

.camera-icon:hover {
  transform: scale(1.1);
}

.gallery-icon {
  width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 10;
}

.gallery-icon:hover {
  transform: scale(1.1);
}

.camera-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.camera-popup {
  background-color: #000;
  color: #fff;
  text-align: center;
  max-width: 90vw;
  box-sizing: border-box;
}

.camera-popup p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.camera-popup .popup-buttons {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.camera-popup .popup-buttons button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.camera-popup .popup-buttons button:hover {
  color: #555;
}

.pop-up-border {
  border: 1px solid #fff;
  width: 100%;
}

/* ANALYSIS */

.analysis-container {
   position: relative;
  width: 100vw;
  height: 70vh;
}

.test-sections {
   position: relative;
  top: -50px;
  transform: scale(0.8);
  z-index: 10;
}






