#root, body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}


/* Home-page centered layout */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.home-svg-left {
    position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  z-index: 1;
  transition: opacity 0.8s ease;
}

.home-svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Content wrapper */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title styles */
.landing-title {
  color: #000;
  font-size: 90px;
  font-weight: 400;
  width: min-content;
  letter-spacing: -4px;
  line-height: .9;
}

/* Paragraph styles */
.landing-paragraph {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
}

/* large screens (over 1024px) */
@media (min-width: 1024px) {
  .home-content {
    font-size: 150px;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .landing-title {
    min-width: 300px;
    text-align: center;
    margin-right: 20px;
    font-size: 120px;
    transition: transform .7s ease;
  }

  .landing-paragraph {
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 0;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 14px;
    width: 360px;
  }

  .landing-button {
    display: none;
  }


  .discover-ai-wrapper {
    transition: opacity 0.5s ease;
  }

  .discover-ai-button {
    position: absolute;
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: center;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    cursor: pointer;
    z-index: 200;
    transition: opacity 0.8s ease;
    pointer-events: auto;
    transform: translateY(-2px);
  }

  .discover-ai-button:focus {
    outline: none;
    border: none;
  }

  .discover-ai-button:active {
    border: none;
    outline: none;
  }

  .discover-ai-button object {
    transition: transform 0.3s ease;
    border: none;
  }

  .discover-ai-button:hover object {
    transform: scale(1.2);
  }

  .take-test-button {
    position: absolute;
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: center;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
    z-index: 100;
    transform: translateY(25px);
  }

  .take-test-button:active {
    border: none;
    outline: none;
  }

  .take-test-button:focus {
    border: none;
    outline: none;
  }

  .take-test-text {
    margin-right: 10px;
    text-transform: uppercase;
  }

  .button-icon {
    margin-left: 10px;
    pointer-events: none;
  }

  .test-button-icon {
    margin-left: 10px;
    pointer-events: none;
  }

  .button-icon:hover {
    cursor: default;
  }

  .take-test-button object {
    transition: transform 0.3s ease;
  }

  .take-test-button:hover object {
    transform: scale(1.2);
  }

  .home-content {
    pointer-events: none; 
  }

  .take-test-button {
    pointer-events: auto; 
  }

  .take-test-button:hover + .landing-title {
    transform: translateX(-300px);
    text-align: left;
  }

  .take-test-button:hover ~ .home-svg-left {
    opacity: 0;
  }

  .take-test-button:hover ~ .discover-ai-wrapper {
    opacity: 0;
  }

}
  @media (max-width: 1024px) {
    .home-content {
      font-size: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      justify-content: center;
      margin-bottom: 120px;
      position: relative;
      z-index: 2;
    }

    h1.landing-title {
      margin: 20px;
    }

    .landing-title {
      font-size: 70px;
      min-width: 360px;
      text-align: center;
    }

    .landing-paragraph {
      color: #333;
      text-align: center;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .landing-button {
      display: flex;
      background: transparent;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      margin: 20px auto;
      padding: 10px;
      border: none;
      position: relative;
      z-index: 10;
      transition: all 0.3s ease;
    }

    .landing-button:hover {
      transform: scale(1.1);
    }

    .landing-button object {
      transition: transform 0.3s ease;
    }

    .landing-button:hover object {
      transform: scale(1.1);
    }

    .landing-button:active {
      transform: scale(0.95);
      border: none;
      outline: none;
    }

    .landing-button:focus {
      border: none;
      outline: none;
    }

    .take-test-button {
      display: none;
    }

    .button-icon {
      margin-left: 10px;
      pointer-events: none;
      width: 40px;
      height: 40px;
    }

    .discover-ai-button {
      display: none;
    }
  }

  @media (max-width: 650px) {
    .landing-title {
      font-size: 50px;
      min-width: unset;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .landing-paragraph {
      padding: 0 20px;
      box-sizing: border-box;
    }

    .landing-button {
      margin: 15px auto;
      padding: 8px;
    }

    .button-icon {
      width: 30px;
      height: 30px;
    }
  }

/* Navbar layout */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #989898;
  margin-left: 10px;
}

/* Logo styles */
.navbar-logo {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

/* Button styles */
.navbar-button {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem .8rem;
  font-size: 8px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #333;
}

/* USER TEST */

.user-test-container {
  position: relative;
  width: 100vw;
  height: 70vh;
}

.input-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-field {
  background: transparent;
  color: black;
  border: none;
  text-align: center;
  font-size: 42px;
  letter-spacing: -2px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  min-width: 100px;
  max-width: 390px;
  width: 100%;
  transform: translateY(10px);
  overflow: hidden;
  text-overflow: ellipsis;
}

  @media (max-width: 455px) {
    .input-field {
      font-size: 30px;
    }

    .input-underline {
      width: 300px;
    }
  }


.input-field:active {
  border: none;
  outline: none;
}

.input-field:focus {
  border: none;
  outline: none;
}

.input-underline {
  width: 330px;
  height: 2px;
  background-color: black;
}


.box-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: scale(.9);
}

/* Specific styles for LoadingScreen boxes */
.loading-screen-boxes {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen-boxes .box-container {
  transform: scale(0.7);
}

.box {
  position: absolute;
  transform-origin: center;
  outline: 3px dotted rgb(192, 192, 192);
  animation-timing-function: linear;
  top: 50%;
  left: 50%;
}

/* Fastest */
.box1 {
  width: 70vmin;
  height: 70vmin;
  animation: rotate 55s infinite;
  opacity: 0.3;
}

/* Medium */
.box2 {
  width: 70vmin;
  height: 70vmin;
  animation: rotate 60s infinite;
  opacity: 0.6;
}

/* Slowest */
.box3 {
  width: 70vmin;
  height: 70vmin;
  animation: rotate 70s infinite;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.proceed-message {
  position: absolute;
  width: 200px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  text-align: center;
  z-index: 10;
  line-height: normal;
}

.back-button {
  position: fixed;
  display: flex;
  background: transparent;
  flex-direction: row;
  align-items: center;
  left: 0;
  bottom: 0;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 2;
  transition: transform 0.3s ease;
  border: none;
}

.back-button:hover {
  transform: scale(1.2);
}

.back-button:active {
  border: none;
  outline: none;
}

.back-button:focus {
  border: none;
  outline: none;
}

.back-button:hover .back-button-icon {
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.back-button-icon {
  transform: scaleX(-1);
  margin-right: 10px;
  transition: transform 0.3s ease;
  transform-origin: center;
  z-index: 2;
}

.proceed-button {
  position: fixed;
  display: flex;
  background: transparent;
  flex-direction: row-reverse;
  align-items: center;
  right: 0;
  bottom: 0;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 2;
  transition: transform 0.3s ease;
  border: none;
}

.proceed-button:hover {
  transform: scale(1.2);
}

.proceed-button:active {
  border: none;
  outline: none;
}

.proceed-button:focus {
  border: none;
  outline: none;
}

.proceed-button-icon {
  margin-left: 10px;
}

/* START ANALYSIS */

.startanalysis-navbar-logo {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 14px;
  font-weight: medium;
  text-transform: uppercase;
  color: white;
  z-index: 3000;
  user-select: none;
}

.user-test-title {
  position: fixed;
  margin-left: 30px;
  margin-top: 60px;
  top: 0;
  font-size: small;
  font-weight: 600;
}

.click-type-text {
  margin: 0;
  transform: translateY(-4px);
  color: #888;
}

.back-button-icon-only {
  filter: invert(1);
  position: fixed;
  display: flex;
  background: transparent;
  flex-direction: row;
  align-items: center;
  left: 0;
  bottom: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3000;
  border: none;
  padding: 0;
  transition: transform 0.3s ease;
}

.back-button-icon-only:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.back-button-icon-only:active {
  border: none;
  outline: none;
}

.back-button-icon-only:focus {
  border: none;
  outline: none;
}

.test-result-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
  margin-top: 10%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
.test-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
  margin-top: 10%;
  box-sizing: border-box;
}
}

.small-box-wrapper {
  position: relative;
  width: 40vmin;
  height: 40vmin;
  box-sizing: border-box;
  margin: auto;
  transform: translateY(-60px);
}
.small-box-wrapper_left {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  box-sizing: border-box;
}
.small-box-wrapper_right {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  box-sizing: border-box;
}

.small-box-wrapper .box-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box-wrapper .box {
  width: 50vmin;
  height: 50vmin;
  border-width: 1px;
  opacity: 0.7;
}

.camera-icon {
  width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: auto;
  position: relative;
  z-index: 10;
  transform: translateY(50px);
}

.line-circle {
  position: absolute;
  transform: translateX(-6px) translateY(50px);
  right: 0; 
}
.line-circle_gallery {
  position: absolute;
  left: 0; 
  transform: scaleX(-1) scaleY(-1) translateX(-6px) translateY(-10px);
  bottom: 75px;
}

.scan-text {
  position: absolute;
  right: -55%;
  font-size: smaller;
  font-weight: 600;
  text-align: left;
}

.access-gallery-text {
  position: absolute;
  text-align: right;
  transform: translateX(-105%) translateY(220%);
  font-size: smaller;
  font-weight: 600;
}

.camera-icon:hover {
  transform: translateY(50px) scale(1.1);
}

.camera-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.camera-button-container {
  display: flex;
  align-items: center;
}

.take-photo-wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2000;
}

.take-photo-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  right: 0;
  margin-right: 10px;
}

.take-photo-button img {
  width: 60px;
  height: 60px;
  user-select: none;
}

.take-photo-text {
  right: 0;
  margin-right: 80px;
  position: fixed;
  font-weight: medium;
  font-size: 16px;
  color: white;
  user-select: none;
}

.camera-instructions {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.gallery-icon {
  width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 10;
  transform: translateY(50px);
}

.gallery-icon:hover {
  transform: translateY(50px) scale(1.1);
}

.camera-video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.analysis-subtitles {
  font-size: 12px;
}
@media (min-width: 800px) {

  .analysis-subtitle {
    font-size: 14px;
  }
}


@media (max-width: 700px) {

.camera-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-instructions {
  height: 50px;
}

.take-photo-text {
  right: auto;
  transform: translateY(-50px);
}

.diamond-layout {
  transform: scale(.8);
}

}

@media (max-width: 460px) {
  .diamond-layout {
  transform: scale(.8);
  min-width: 450px;
}
}

.camera-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.camera-popup {
  background-color: #000;
  color: #fff;
  text-align: center;
  max-width: 90vw;
  box-sizing: border-box;
}

.camera-popup p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.camera-popup .popup-buttons {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.camera-popup .popup-buttons button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.camera-popup .popup-buttons button:hover {
  color: #555;
}

.pop-up-border {
  border: 1px solid #fff;
  width: 100%;
}

/* ANALYSIS */

.analysis-container {
   position: relative;
  width: 100vw;
  height: 70vh;
}

.analysis-title-wrapper {
  position: fixed;
  text-align: left;
  margin-left: 30px;
  top: 0;
  margin-top: 40px;
  width: 300px;
}

.analysis-title {
  font-size: 24px;
  color: #000;
}

.analysis-subtitles {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

@media (max-width: 700px) {
  .analysis-subtitles {
    position: fixed;
    bottom: 60px;
    left: 30px;
    text-align: left;
    z-index: 2;
  }
}

.test-sections {
  position: relative;
  top: -50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.diamond-layout {
  transform: translateY(40px);
  position: relative;
  width: 450px; 
  height: 450px; 
}

.demographics-wrapper {
  position: relative;
}

.dotted-rectangle-overlay {
  position: fixed;
  transform: translate(-50%, -50%) translateY(37%) scale(.9);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.demographics-quadrant.top:hover ~ .dotted-rectangle-overlay {
  opacity: 1;
}

.diamond-layout object {
  position: absolute;
  width: 200px;
  height: 200px; 
}



.top {
  top: 0;  
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  transition: transform 0.3s ease;
}

.top:hover {
  transform: translateX(-50%) translateY(20px) scale(1.1);
  cursor: pointer;
}

.right {
  top: 50%;
  right: 0;  
  transform: translateY(-50%) translateX(-20px);
}

.bottom {
  bottom: 0;  
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
}

.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(20px);
}


/* DEMOGRAHPICS SUMMARY */

.summary-heading {
  position: relative;
  text-align: left;
  margin: 28px;
}

.summary-title {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 52px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  margin: auto;
  letter-spacing: 0.5px;
}

@media (max-width: 850px) {
  .summary-title {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: medium;
  color: #000;
  text-transform: uppercase;
  margin: auto;
  letter-spacing: 0.5px;
}
}

.summary-subtitle-one {
  text-transform: uppercase;
  margin: 6px;
  font-size: large;
  color: #000;
}
.summary-subtitle-two {
  text-transform: uppercase;
  margin: 2px;
  font-size: medium;
}

.demographics-container {
  display: flex;
  top: 0;
  margin: 20px;
}

@media (max-width: 850px) {
  .demographics-container {
    flex-direction: column;
    margin: 15px;
    gap: 20px;
  }

  .small-rectangles {
    width: 100%;
    margin: 0;
  }

  .summary-rectangle {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .right-side-rectangle {
    width: 100%;
    margin: 10px 0;
  }

  .donut-chart {
    width: 200px;
    height: 200px;
    transform: translateX(0) translateY(0);
    margin: 20px auto;
  }

  .summary-rectangle-header {
    margin: 15px;
    font-size: 24px;
  }

  .summary-rectangle {
    position: relative;
  }

}

.small-rectangles {
  display: flex;
  flex-direction: column;
  font-size: 4px;
  width: 208px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.small-rectangles .active {
  background-color: black;
  color: white;
}

.small-rectangle-heading {
  margin-left: 6px;
  text-transform: capitalize;
}

.first-small-rectangle {
  height: 65px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-top: #000 1px solid;
}
.second-small-rectangle {
  height: 65px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  border-top: #000 1px solid;
}
.third-small-rectangle {
  height: 65px;
  background-color: #f5f5f5;
  border-top: #000 1px solid;
}

.summary-rectangle {
  width: 100%;
  max-width: 850px;
  height: 320px;          
  background-color: #f5f5f5; 
  display: flex;          
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: sans-serif;
  color: #333;
  border-top: #000 1px solid;
  margin-bottom: 10px;
}

.placeholder-text {
  color: #999;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}

.summary-rectangle-header {
  margin-left: 20px;
  font-size: 30px;
  text-transform: capitalize;
}



.right-side-rectangle {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 400px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border-top: #000 1px solid;
}

.right-side-top-text {
  font-size: 4px;
  display: flex;
  justify-content: space-between;
}

.left-header-text {
  margin-left: 8px;
  margin-right: 40px;
}

.right-header-text {
  margin-right: 10px;
}

.data-results-box {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px;
  text-transform: capitalize;
  align-items: center;
  transition: background-color 0.2s ease;
}

.data-results-box:hover:not(.active) {
  background-color: #e5e5e5;
}

.data-results-box.active {
  background-color: black;
  color: white;
}

.data-results-box p {
  margin: 0;
}


.data-results-text:active {
  background-color: #000;
}

.donut-chart {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .donut-chart {
  width: 300px;
  height: 300px;
  transform: scale(0.9) translateY(-30px);
}

.summary-rectangle {
  width: 100%;
  max-width: 850px;
  height: 320px;          
  background-color: #f5f5f5; 
  display: flex;          
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: sans-serif;
  color: #333;
}
}
.percentage-text {
  transform: translateY(-30%) translateX(-30%);
}

.action-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.reset-button {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0;
}

.confirm-button {
  background: black;
  color: white;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0;
}

.reset-button:hover, .confirm-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.correction-text {
  font-size: smaller;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #b3b3b3;
  font-family: 'Roboto';
}





